@heading-color : #0c233f;
@nice-font-size : 14px;
@border-color: #eee;
.heading{
    color: @heading-color;
    text-align: center;
}

.spanHeading{
    color: @heading-color;
    font-size: @nice-font-size;
    cursor: pointer;
}

.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: white;
}

.filterRow{
    padding-bottom: 15px;
    border-bottom: 1px solid @border-color;
}

  