.heading {
    color: #0c233f;
    text-align: center;
  }

.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: white;
}
  