@app-color: #0c233f;
@raduis-val: 5px;

.colMenu{
    word-wrap: break-word;
    &:hover {
        background-color: @app-color;
        color:white;
        border-radius: @raduis-val;
      }
}
  
.dropDownValue {
  cursor: pointer;
}
  