.reviewBook {
    width: 400px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.reviewBook:hover,
.reviewBook:active {
    background-color: white;
}

.rating {
    font-size: 14px;
  }
  .rating_image {
    height: 16px;
  }
  
