@heading-color : #0c233f;
@special-color : #9b9993;

.reviewHeading{
    color: @heading-color;
    text-align: left;
    text-decoration: none;
}

.reviewSpan{
    color: darken(@special-color, 30%)
}

.reviews{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: white;
}